name: Deploy to AWS EC2

on:
  push:
    branches:
      - main  # Зміни на main гілку тригерить деплой

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/reminderbot
          git fetch origin
          git reset --hard origin/main
          source .venv/bin/activate
          pip install -r requirements.txt --quiet
          sudo systemctl restart reminderbot
          echo "Deployment completed successfully!"
